name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

permissions:
  contents: read # for checkout
  packages: read

jobs:
  commitlint:
    runs-on: ubuntu-22.04
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: v24.12.0
      - name: Enable Corepack
        run: corepack enable
      - name: Create .yarnrc.yml
        run: |
          echo "nodeLinker: node-modules" > .yarnrc.yml
          echo "npmScopes:" >> .yarnrc.yml
          echo "  OrdinarySMP:" >> .yarnrc.yml
          echo "    npmRegistryServer: "https://npm.pkg.github.com"" >> .yarnrc.yml
          echo "    npmAuthToken: ${{ secrets.GITHUB_TOKEN }}" >> .yarnrc.yml
      - name: Install commitlint
        run: yarn add commitlint@latest conventional-changelog-conventionalcommits @commitlint/config-conventional
      - name: Validate current commit (last commit) with commitlint
        if: github.event_name == 'push'
        run: npx commitlint --last --verbose
      - name: Validate PR commits with commitlint
        if: github.event_name == 'pull_request'
        run: npx commitlint --from ${{ github.event.pull_request.base.sha }} --to ${{ github.event.pull_request.head.sha }} --verbose

  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4
      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: v24.12.0
      - name: Enable Corepack
        run: corepack enable
      - name: Create .yarnrc.yml
        run: |
          echo "nodeLinker: node-modules" > .yarnrc.yml
          echo "npmScopes:" >> .yarnrc.yml
          echo "  OrdinarySMP:" >> .yarnrc.yml
          echo "    npmRegistryServer: "https://npm.pkg.github.com"" >> .yarnrc.yml
          echo "    npmAuthToken: ${{ secrets.GITHUB_TOKEN }}" >> .yarnrc.yml
      - name: Install dependencies
        run: yarn install --frozen-lockfile
      - name: Run typecheck
        run: yarn typecheck
      - name: Run linter
        run: yarn eslint-ci
      - name: Run prettier
        run: yarn prettier-ci
      - name: Run build
        run: yarn build
